# vscode
.vscode/

# Database
db.sqlite3

# __pycache__
core/__pycache__/
auth_app/__pycache__/
auth_app/api/__pycache__/
auth_app/migrations/__pycache__/
profile_app/__pycache__/
profile_app/api/__pycache__/
profile_app/migrations/__pycache__/
offers_app/__pycache__/
offers_app/api/__pycache__/
offers_app/migrations/__pycache__/
orders_app/__pycache__/
orders_app/api/__pycache__/
orders_app/migrations/__pycache__/
reviews_app/__pycache__/
reviews_app/api/__pycache__/
reviews_app/migrations/__pycache__/
cross_cutting_endpoints_app/__pycache__/
cross_cutting_endpoints_app/api/__pycache__/
cross_cutting_endpoints_app/migrations/__pycache__/

# Python virtual environments
env/
venv/
.env/